{% extends "base.html" %}

{% block title %}
    {{ recipe_object.title }} - Scrumptious Recipes
{% endblock title %}


{% block content %}
<header>
    <nav>
        <a href="{% url "recipe_list" %}">Main page</a>
        {% if user.is_authenticated %}
        <a href="{% url "my_recipe_list" %}">My recipes</a>
        <a href="{% url "create_recipe" %}">Create a recipe</a>
            Hello, {{ user.username }}
            <a href="{% url "user_logout" %}">Logout</a>
        {% else %}
            <a href="{% url "signup" %}">Sign up</a>
            <a href="{% url "user_login" %}">Login</a>
        {% endif %}
    </nav>
</header>
    <main>
        <h1>{{ recipe_object.title }}</h1>
        <img src="{{ recipe_object.picture }}">
        <div>
            4.3 stars
        </div>
        <h2>Ingredients</h2>
        <table class="striped-table">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Food item</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for ingredient in recipe_object.ingredients.all%}
                    <td>
                        {{ ingredient.amount }}
                    </td>
                    <td>
                        {{ ingredient.food_item }}
                    </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
        <h2>Steps</h2>
        <ol>
            {% for step in recipe_object.steps.all %}
                <li>{{ step.instruction }}</li>
            {% endfor %}
        </ol>
        <div>
            {% if user.is_authenticated %}
            <a href="{% url "edit_recipe" recipe_object.id %}">Edit this recipe</a>
            {% else %}
            Sign up or log in to edit this recipe
            {% endif %}
        <div>
    </main>
{% endblock content %}



{% comment %}
<a href="{% url "my_recipe_list" %}">My recipes</a>
<a href="{% url "create_recipe" %}">Create a recipe</a>
    Hello, {{ user.username }}
    <a href="{% url "user_logout" %}">Logout</a>

    <a href="{% url "signup" %}">Sign up</a>
    <a href="{% url "user_login" %}">Login</a> {% endcomment %}
