{% extends "base.html" %}

{% block title %}
    Scrumptious Recipes
{% endblock title %}

{% block content %}
    <header>
            <nav>
                <a href="{% url "recipe_list" %}">Main page</a>
                {% if user.is_authenticated %}
                <a href="{% url "my_recipe_list" %}">My recipes</a>
                <a href="{% url "create_recipe" %}">Create a recipe</a>
                    Hello, {{ user.username }}
                    <a href="{% url "user_logout" %}">Logout</a>
                {% else %}
                    <a href="{% url "signup" %}">Sign up</a>
                    <a href="{% url "user_login" %}">Login</a>
                {% endif %}
            </nav>
    </header>
    <main>
        <div class="title-container">
            <h1 class="main-title">Scrumptious Recipes</h1>
            <h2 class="main-subtitle">All the food that's fit to eat!</h2>
        </div>
        <div class="recipe-grid">
            {% for recipe in recipe_list %}
                <div>
                    <h3><a href="{% url "show_recipe" recipe.id %}">{{ recipe.title }}</a></h3>
                    <div>
                        {{ recipe.created_on|date:"M d, Y"}}
                    </div>
                    <div>
                        <img src="{{ recipe.picture }}">
                    </div>
                    <div>
                        4.3 stars
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}
