{% extends "base.html" %}

{% block title %}
Login! Scrumptious recipe_list
{% endblock title %}

{% block content %}
<header>
    <nav>
        <a href="{% url "recipe_list" %}">Main page</a>
        {% if user.is_authenticated %}
        <a href="{% url "my_recipe_list" %}">My recipes</a>
        <a href="{% url "create_recipe" %}">Create a recipe</a>
            Hello, {{ user.username }}
            <a href="{% url "user_logout" %}">Logout</a>
        {% else %}
            <a href="{% url "signup" %}">Sign up</a>
            <a href="{% url "user_login" %}">Login</a>
        {% endif %}
    </nav>
</header>
<main>
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Submit</button>
    </form>
</main>
{% endblock content %}
