
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&display=swap');

@media only screen and (min-width: 430px) {
    .recipe-grid {
        display: grid;
        grid-template-columns: repeat(1, 400px);
        grid-template-rows: repeat(auto-fill, 1fr);
        gap: 16px;
        justify-content: center;
    }
}
    @media only screen and (min-width: 850px) {
    .recipe-grid {
        display: grid;
        grid-template-columns: repeat(2, 400px);
        grid-template-rows: repeat(auto-fill, 1fr);
        gap: 16px;
        justify-content: center;
    }
}
    @media only screen and (min-width: 1266px) {
    .recipe-grid {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 16px;
    justify-content: center;
    }
}
    @media only screen and (min-width: 1668px) {
    .recipe-grid {
    display: grid;
    grid-template-columns: repeat(4, 400px);
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 16px;
    justify-content: center;
    }
}



html {
    box-sizing: border-box;
  }

  * {
    box-sizing: inherit;
  }

body {
    margin: 0;
    padding-top: 8vh;
    padding-bottom: 8vh;
    font-family: arial;
}

main {
    padding: 15px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #B4CF66;
    height: 8vh;
}

img {
    height: 200px;
    width: 200px;
}

.main-title {
    line-height: 0em;
}

.main-subtitle {
    line-height: 0em;
}

h2 {
    color: #44803F;
}

h3 {
    line-height: 0em;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-bottom: 2em;;
}

.recipe-grid a {
    color: #44803F;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #FF5A33;
    height: 8vh;
    }

a {
    color: #FF5A33;
    text-decoration: none;
}

nav a {
    color: white;
    text-decoration: none;
}

.striped-table tbody > :nth-child(even) {
    background-color: lightgrey;
}

a:hover {
    text-decoration: underline;
  }
